asgiref==3.5.2
attr==0.3.2
attrs==22.1.0
brotli==1.0.9
brotlicffi==1.0.9.2
brotlipy==0.7.0
ConfigParser==5.3.0
cryptography==36.0.2
curio==1.5
Cython==0.29.28
dl==0.1.0
docutils==0.19
gunicorn==20.1.0
HTMLParser==0.0.2
httpx==0.23.0
hypothesis==6.56.3
importlib_metadata==4.12.0
ipython==8.5.0
ipywidgets==7.6.5
jnius==1.1.0
keyring==23.4.0
lockfile==0.12.2
loop==1.0.0
lxml==4.8.0
mock==4.0.3
numpy==1.21.5
ordereddict==1.1
outcome==1.2.0
Pillow==9.2.0
protobuf==4.21.8
pyOpenSSL==22.1.0
pytest==7.1.1
railroad==0.5.0
requests_toolbelt==0.9.1
simplejson==3.17.6
speedups==1.0.0
Sphinx==4.4.0
toml==0.10.2
tornado==6.1
trio==0.22.0
trio_typing==0.7.0
ujson==5.5.0
unicodedata2==14.0.0
unittest2==1.1.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
watchgod==0.8.2
wmi==1.5.1
wsproto==1.2.0
xmlrpclib==1.0.1
zipp==3.8.1
